@font-face {
    font-family: 'QuarkBold';
    src: url('quark-bold.eot');
    src: url('quark-bold.eot') format('embedded-opentype'),
         url('quark-bold.woff') format('woff'),
         url('quark-bold.ttf') format('truetype'),
         url('quark-bold.svg#QuarkBold') format('svg');
}

.quarkbold {
	font-family: QuarkBold;
}