@font-face {
    font-family: 'QuarkLight';
    src: url('quark-light.eot');
    src: url('quark-light.eot') format('embedded-opentype'),
         url('quark-light.woff') format('woff'),
         url('quark-light.ttf') format('truetype'),
         url('quark-light.svg#QuarkLight') format('svg');
}
/*
h1, h2, h3, h4, h5, h6 {
	font-family: QuarkLight;
}*/

.quarklight {
	font-family: QuarkLight;
}