
body{
    padding-top: 70px;
}
a:hover {
    color: #4078c0;
    text-decoration: none;
}
.navbar.navbar-white {
    background-color: white;
}
.navbar.navbar-transparent {
    background: transparent;
}
.navbar-fixed-top {
    border-bottom: 0;
}
.navbar {
    font-family: 'QuarkBold';
    font-size: 18px;
}
.navbar li > a {
    font-size: 18px;
    transition: all 0.3s;
}
.navbar li li > a {
    font-size: 16px;
}
.navbar .navbar-brand {
    color: #4FDDFF;
    font-size: 20px;
    height: inherit;
    padding: 20px 15px;
}
.navbar .navbar-brand:hover {
    color: #4FDDFF;
}
.navbar .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #298eea;
}
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero-page {
    padding-top: 100px;
    padding-bottom: 20px;
}
.hero-page > h1 {
    text-align: center;
}
form.form-p label {
    min-width: 200px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.black-gold {
    color: #DEBB01;
}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
span.label > a {
    color: white;
}


.pagehead {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.pagehead h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.pagehead-nav a {
    text-decoration: none;
}
.pagehead-nav-item:hover {
    color: #333;
    text-decoration: none;
}
.pagehead-nav {
    float: right;
    margin-bottom: -20px;
}
.pagehead-nav-item {
    float: left;
    padding: 6px 10px 21px;
    margin-left: 20px;
    font-size: 14px;
    color: #767676;
}
.pagehead-nav-item.selected {
    color: #333;
    border-bottom: 2px solid #d26911;
}
.title-link {
    padding-right: 3px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
    transition: all 0.3s;
}
table.table>thead>tr>th {
    font-size: 16px;
    padding: 15px;
    padding-left: 8px;
}
table.table>tbody>tr>td {
    padding: 15px 8px;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        display: block;
    }
    #addBank, #addBank:hover {
        background: none;
        color: #777;
        border: inherit;
        padding: 10px 15px;
        text-align: left;
        width: auto;
    }
    header .dropdown-toggle.btn {
        background: none;
        color: #777;
        border: inherit;
        padding: 10px 15px;
        text-align: left;
        width: auto;
    }
    .mobile-hide {
        display: none !important;
    }
}