.btn.btn-primary2 {
    color: white;
    background-color: #389BF1;
    border-color: #389BF1;
    font-family: 'QuarkBold';
    font-size: 18px;
    transition: all 0.2s;
    padding: 6px 25px;
}
.btn.btn-primary2:hover {
    color: white;
    background-color: #2a83d0;
    border-color: #2a83d0;
}
.btn.btn-danger2 {
    color: white;
    background-color: red;
    border-color: red;
    font-family: 'QuarkBold';
    font-size: 18px;
    transition: all 0.2s;
    padding: 6px 25px;
}
.btn.btn-danger2:hover {
    color: white;
    background-color: #E40000;
    border-color: #E40000;
}
.btn.btn-success2 {
    color: white;
    background-color: limegreen;
    border-color: limegreen;
    font-family: 'QuarkBold';
    font-size: 18px;
    transition: all 0.2s;
    padding: 6px 25px;
}
.btn.btn-success2:hover {
    color: white;
    background-color: green;
    border-color: green;
}

.btn.btn-default2 {
    color: #333;
    background-color: #eee;
    border-color: #eee;
    transition: all 0.2s;
    font-size: 18px;
    font-family: 'QuarkBold';
    padding: 6px 25px;
}
.btn.btn-default2:hover {
    background-color: #ddd;
    border-color: #ddd;
}
.btn.btn-purple2 {
    color: white;
    background-color: #9d00ff;
    border-color: #9d00ff;
    font-family: 'QuarkBold';
    font-size: 18px;
    transition: all 0.2s;
    padding: 6px 25px;
}
.btn.btn-purple2:hover {
    color: white;
    background-color: #8000d0;
    border-color: #8000d0;
}


.btn.btn-default3 {
    color: #333;
    background: none;
    border-color: #eee;
    transition: all 0.2s;
    font-size: 18px;
    font-family: 'QuarkBold';
}
.btn.btn-default3.active {
    background-color: #eee;
    border-color: #eee;
    box-shadow: inherit;
}
.btn.btn-default3:hover {
    background-color: #ddd;
    border-color: #ddd;
}


.btn-group-xxs>.btn, .btn.btn-xxs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
}
.btn-group-xs>.btn, .btn.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-group-sm>.btn, .btn.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
}
.btn.btn-width150 {
    min-width: 150px;
}