{% extends "base.html" %}
{% load bootstrap3 %}

{% block container %}
<div class="container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    <h1 style="text-align: center; margin-top: 60px;">เปลี่ยนรหัสผ่าน</h1>
    <div class="panel panel-default" style="width: 400px; margin: auto;">
        <div class="panel-body">
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        ส่งข้อมูล
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock container %}
