{% load pickertags %}{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock title %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block head %}{% endblock head %}
	{% load_css %}
	<style type="text/css">
	.navbar-ontop li>a {
	    color: white;
	    text-transform: uppercase;
	    line-height: 51px;
	}
	.navbar-ontop li>a:hover, .navbar-ontop li>a:focus {
	    color: #eee;
	    background-color: inherit;
	}
	.navbar-ontop .nav li.space {
	    width: 30px;
	    height: 51px;
	}
	.navbar-ontop {
	    background: #3686be;
	    border-bottom: 1px solid #ddd;
	    margin-bottom: 0;
	}
	.navbar-ontop .navbar-toggle {
	    margin-top: 20px;
	}
	.navbar-ontop .navbar-toggle {
	    border-color: transparent;
	}
	.navbar-ontop .navbar-toggle .icon-bar {
	    background-color: #ffffff;
	}
	.navbar-toggle .icon-bar {
	    display: block;
	    width: 30px;
	    height: 4px;
	}
	.brand {
	    font-size: 23px;
	}
	a.navbar-brand {
	    color: white;
	    height: 80px;
	    line-height: 50px;
	}
	</style>
	{% block css %}{% endblock %}
	{% block less %}{% endblock %}
	{% load_js %}
	{% block script %}{% endblock script %}
</head>
<body>
	{% block header %}
    <header>
        <nav class="navbar  navbar-ontop">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><span class="brand"><b>Social</b> Next Gen</span></a>

                </div>
                <nav class="navbar-collapse bs-navbar-collapse collapse" style="height: 1px;">
                    <ul class="nav navbar-nav navbar-right" >
                        <li><a href="/">Pricing</a></li>
                        <li><a href="/">Features</a></li>
                        <li><a href="/">Help</a></li>

                        <li class="space"></li>

                        <li><a href="/">Log in</a></li>
                        <li><a href="/"><b>Register</b></a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </header>
	{% endblock header %}
	{% block container %}{% endblock container %}
</body>
</html>