{% extends "accounts_base.html" %}
{% block css %}
<style>
body {
    padding: 50px 0 0 0;
}
.vertical-form {
    margin: 0 auto;
    width: 325px;
}
img.logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
legend {
    font-size: 26px;
    text-align: center;
}
.form-control {
    border-radius: 3px;
    box-shadow: inherit;
    height: 53px;
    font-size: 18px;
    color: #565656;
    margin: 0 auto 18px auto;
    transition: all 0.2s ease-in-out;
}
button.btn-primary {
    border-color: #3686bb;
    background-color: #3686bb;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    font-size: 15px;
    width: 100%;
    height: 53px;
    margin: 0 auto 25px auto;
}
button.btn-primary:hover {
    background-color: #2b6a93;
}

p.text {
    font-size: 16px;
    text-align: center;
}
p.text > a{
    color: black;
    text-decoration: none;
    border-bottom: solid 1px black;
}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
@media(max-width: 550px) {
    .vertical-form {
        width: 100%;
    }
}
</style>
{% endblock css %}
{% block header %}{% endblock header %}
{% block container %}
<form action="" class="vertical-form" method="post">
    {% csrf_token %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% if site_logo %}
        <img src="{{ site_logo }}" class="logo"/>
    {% endif %}
    <legend>เข้าสู่ระบบ</legend>
    <input type="text" name="username" class="form-control" placeholder="Username" size="30" value=""/>
    <input type="password" name="password" class="form-control" placeholder="Password" size="30" value=""/>
    <button class="btn btn-primary">Sign In</button>

    {% comment %}
    <p class="text">
        ยังไม่มีบัญชีใช้งาน?
        <a href="{% url 'accounts.register' %}">สมัครสมาชิก</a>
    </p>
    {% endcomment %}
</form>
{% endblock container %}
